$accent-color1: #006341;
$header-font: 'Roboto', sans-serif;
$hero-bg-color: rgb(255,219,198);
$hero-txt-color: #2b3151;
$hero-font: 'Montserrat', sans-serif;
$hero-font2: 'Crete Round', serif;

%link-style {
	color: black;
	font-family: $header-font;	
	border-bottom: 1px dotted black;
	text-decoration: none;
	padding-bottom: 3px;
	font-weight: 600;
	&:hover {
		border-bottom: 1px solid black;
		background-color: #c3c6cc;
	}
}

%info-div {
	height: 550px;
	width: 100%;
	position: relative;
	img {
		position: absolute;
		left: 5%;
		top: 10%;
		height: 70%;
		width: 35%;
	}
	.info-txt {
		position: absolute;
		width: 35%;
		right: 13%;
		top: 30%;
		font-family: $hero-font2;
		line-height: 2;
		h3 {
			text-transform: uppercase;
			font-family: $header-font;	
			font-weight: 600;
			font-size: 25px;
		}

		a { 
			@extend %link-style;		
		}
	}
}

*{

	box-sizing: border-box;
}


html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


.min-header {
	background: $accent-color1;
	width: 100%;
	min-height: 10px;
}

.navBar {
	height: 100px;
	position: relative;
	.fas {
		display: none;
	}
	img {
		position: absolute;
		top: 10%;
		left: 5%;
		height: 100px;
		width: 80px;
	}
	ul {
		position: absolute;
		bottom: 10px;
		left: 10%; 
		list-style-type: none;
		display: inline-block;
		padding-bottom: 0;
		margin-bottom: 0;
   		li {
		  	font-size: 12px;
		    display: inline;
		    padding: 10px 10px;
		    text-transform: uppercase;
		    font-family: $header-font;
		    letter-spacing: 3px;
		    transition: background 1s linear, color 1s linear;
		    &:hover {
		    	color: white;
		    	background: black;
		    	cursor: pointer;
		    }

		}
	}

	.menu-dropdown {
		position: absolute;
		top: 100%;
		background: url("https://images.unsplash.com/photo-1494221967057-95ec3a1b5e71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dbb73d3a65efa290c0efb03aa4ed9975&auto=format&fit=crop&w=2851&q=80");
		background: cover;
		color: white;
		font-family: $header-font;
		height: 600px;
		width: 100%;
		display: inline;
		z-index: 999;
		opacity: 0;
		visibility: "hidden";
		transition: visibility 1s linear, opacity 1s linear;
		ul {
			width: 90%;
			left: 0;
			list-style-type: none;
			background: black;
			top: 0;
			li {
				display: block;
			}
		}
	}

	.findStore {
		position: absolute;
		right: 5%;
		top: 20%;
		font-size: 13px;
		color: #333333;
		a {
			text-decoration: none;
			font-family: $header-font;
			color: #333333;
		}
		a:hover {
			color: gray;
		}
		.break {
			letter-spacing: 8px;
		}
		#lg {
			font-size: 20px;

		}
		.fa-map-marker-alt {
			color: $accent-color1;
		}
	}
	@media screen and (max-width: 375px){
		.navBar-links{
			display: none;
			position: absolute;
			z-index: 99;
			top: 0;
			left: 0;
			width: 100%;
			height: 300px; 
			list-style-type: none;
			background-color: black;
			color: white;
			.menu-head {
			  	font-size: 8px;
			    display: inline-block;
			    padding: 0 10px;
			    margin-bottom: 5px;
			    &:hover {
			    	color: black;
			    	background: white;
			    }

			}
		}
		.ctrlNav {
			position: absolute;
			left: 85%;
			top: 30%;
			font-size: 30px;
		}
		.fa-bars {
			display: block;
			top: 60%;
			left: 85%;
			color: $accent-color1;

		}
		.fa-times {
			display: none;
			color: white;
			z-index: 99;
			top: 60%;

		}
		.menu-dropdown {
			width: 100%;
			height: 600px;
			background: black;

		}
	}
	@media screen and (max-width: 768px){
		.navBar-links{
			display: none;
			position: absolute;
			z-index: 99;
			top: 0;
			left: 0;
			width: 100%;
			height: 300px; 
			list-style-type: none;
			background-color: black;
			color: white;
   		li {
		  	font-size: 12px;
		    display: inline-block;
		    padding: 10px 10px;
		    margin-bottom: 5px;
		    &:hover {
		    	color: black;
		    	background: white;
		    }

		}
		}

		.ctrlNav {
			position: absolute;
			left: 85%;
			top: 30%;
			font-size: 30px;
		}
		.fa-bars {
			display: block;
			top: 60%;
			left: 85%;
			color: $accent-color1;

		}
		.fa-times {
			display: none;
			color: white;
			z-index: 99;
			top: 60%;

		}
		

		.menu-dropdown {
			width: 100%;
			height: 600px;
			background: black;

		}
	}
}



.hero-container {

	background: $hero-bg-color;
	width: 100%;
	height: 600px;
	position: relative;
	z-index: 1;
	.hero-txt-1{
		line-height: 1;
		position: absolute;
		top: 20%;
		left: 10%;
		color: $hero-txt-color;
		font-family: $hero-font;
		font-size: 70px;
		text-align: center;
		.hero-txt-head {
			display: inline-block;
			font-size: 20px;
			text-transform: uppercase;
		}

	}

	.hero-txt-2{
		line-height: 1;
		position: absolute;
		top: 20%;
		right: 10%;
		color: $hero-txt-color;
		font-family: $header-font;
		font-size: 17px;
		width: 35%;
		text-align: center;
		h3 {
			font-size: 38px;
			font-family: $hero-font2;
		}

		button {
			margin-top: 50px;
			height: 40px;
			width: 175px;
			font-family: $header-font;
			text-transform: uppercase;
			background-color: rgba(43,49,81,0);
			color: $hero-txt-color;
			border: 2px solid $hero-txt-color;
			border-radius: 10px;
			font-size: 16px;
			position: absolute;
			left: 5%;
			letter-spacing: 1.5px;
			&:hover{
			background-color: rgba(43, 49, 81, 0.3);
			cursor: pointer;
			}
		}


	}
	@media screen and (max-width: 375px){

		.hero-txt-1{
			font-size: 30px;
			top: 5%;
			left: 5%;
		}

		.hero-txt-2{
			right: 30%;

		}


	}

}



.chalkboard {
	background: url("https://images.unsplash.com/photo-1461994319301-06e2de6207c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0b08578544258864b3e0c6bfa856995&auto=format&fit=crop&w=2850&q=80");
	width: 100%;
	height: 245px;
	background: cover;	
	position: relative;
	img {
		 position: absolute;
		 height: 30%;
		 width: 30%;
		 top: 40%;
	}
	.chalkboard-info {
		font-family: $header-font;
		color: white;
		position: absolute;
		width: 60%;
		right: 5%;
		font-size: 15px;
		h3 {
			font-size: 30px;
		}
		span {
			display: block;

		}
		button {
			margin-top: 20px;
			margin-right: 10px;
			width: 150px;
			height: 30px;
			border-radius: 5px;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 700;
		}
		#rewards-join {
			background-color: rgba(197,179,88, 1);
			border: 0px solid white;
			&:hover{
				background-color: #e4dcb4;
				cursor: pointer;
			}
		}

		#rewards-signin {
			color: white;
			background: rgba(255,255,255,0);
			&:hover{
				background: rgba(255,255,255,0.5);
				cursor: pointer;
			}
		}
	}
	@media screen and (max-width: 768px){
		height: 275px;
		.chalkboard-info {
			h3 {
				font-size: 25px;
			}
			button {
				margin-top: 10px;
			}
		}
		img {
			height: 30%;
		 	top: 40%;	
		 	left: 5%;
		}
	}

	@media screen and (max-width: 375px){

		.chalkboard-info {
			width: 50%;
			font-size: 10px;
			h3 {
				font-size: 20px;
			}
			button {
				width: 100px;
				height: 20px;
			}
		}
	}
}

.info1 {
	background-color: #edeff2;
	@extend %info-div;
	@media screen and (max-width: 768px){
		img {

			height: 50%;
			width: 35%;
		}
	}

	@media screen and (max-width: 375px){
		img {
			top: 60%;
			height: 30%;
			width: 50%;
		}
			.info-txt {
				position: absolute;
				width: 35%;
				right: 13%;
				top: 10%;
				font-size: 13px;
				h3 {
					font-size: 20px;
				}

			}
	}

}


.info2 {
	background-color: #f7f7f7;
	@extend %info-div;
	@media screen and (max-width: 768px){
		img {

			height: 50%;
			width: 35%;
			top: 20%;
		}
	}
	@media screen and (max-width: 375px){
		img {
			top: 60%;
			height: 30%;
			width: 50%;
			left: 0;
		}
			.info-txt {
				position: absolute;
				width: 35%;
				right: 13%;
				top: 10%;
				font-size: 13px;
				h3 {
					font-size: 20px;
				}

			}
	}
}


.email-list {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background-color: #edeff2;
	width: 100%;
	height: 200px;
	color: #3a3b3d;
	position: relative;
	.social-media {
		position: absolute;
		top: 25%;
		left: 5%;
		a {
			color: #3a3b3d;
			font-size: 30px;
			margin: 10px;
			
		}		
	}
	.email-join {
		position: absolute;
		width: 50%;
		left: 35%;
		top: 15%;
		font-family: $header-font;
		font-size: 13px;
		font-weight: 400;
		input[name="email-address"] {
			height: 30px;
			width: 300px;
			font-size: 13px;
			font-family: $header-font;
			border-radius: 4px;
			padding: 4px 6px;
			border: 1px solid #e0e0e0;
			color: #e0e0e0;
			line-height: 1.3;
			
		}
		input[name="zip-code"] {
			height: 30px;
			width: 150px;
			font-size: 13px;
			font-family: $header-font;
			border-radius: 4px;
			padding: 4px 6px;
			border: 1px solid #e0e0e0;
			color: #e0e0e0;
			line-height: 1.3;
			margin: 0 5px;

		}
		button {
			height: 35px;
			width: 150px;
			font-size: 13px;
			font-family: $header-font;
			border-radius: 5px;
			text-transform: uppercase;
			color: white;
			background-color: #3a3b3d;
			font-weight: 700;
			margin: 5px 5px;
			letter-spacing: 2px;
		}

		p {
			a {
				@extend %link-style;
			}
		}
	}
	@media screen and (max-width: 375px){

		.email-join {
			width: 50%;
			left: 50%;
			top: 15%;

			input[name="email-address"] {
				width: 150px;
				margin: 0 5px;
			}
		}
	}
	@media screen and (max-width: 768px){
		height: 250px;
		.social-media {
			width: 20%;
			a {
				font-size: 15px;
				display: inline-block;
			}		
		}

		.email-join {
				input[name="email-address"] {
				width: 150px;
				margin: 0 5px;
			}

			p {
				font-size: 8px;
			}
		}

	}
}



footer {
	height: 600px;
	width: 100%;
	background-color: #f7f7f7;
	position: relative;
	.contacts {
		padding-left: 25px;
		padding-top: 25px;
		position: relative;
		ul {
			vertical-align: top;
			font-family: $header-font;
			list-style-type: none;
			display: inline-block;
			font-size: 15px;
			color: #3a3b3d;
			h3 { 
				text-transform: uppercase;
				font-size: 18px;
			}
			li {
				margin-top: 10px;
					&:hover {
						color: #e8e8e8;
						cursor: pointer;
					}
			}
		}
		.logo {
			position: absolute;
			font-family: $header-font;
			diplay: inline-block;
			font-weight: 900;
			font-size: 35px;
			text-transform: uppercase;
			transform: rotate(-90deg); /* Standard syntax */
			-ms-transform: rotate(-90deg); /* IE 9 */
    		-webkit-transform: rotate(-90deg); /* Safari */
  			right: 0;
    		top: 100px;
    		@media screen and (max-width: 375px){
    			display: none;
    		}
    		@media screen and (max-width: 768px){
    			display: none;
    		}
		}
	}

	.bottom-footer {
			margin: 100px auto auto 65px;
			font-size: 13px;
			color: #3a3b3d;	
			font-family: $header-font;	
			line-height: 50px;

			#region{
				strong {
					&:hover {
						color: #e8e8e8;
						cursor: pointer;
					}
				}
			}
			#help-links{
				
			}
			#copyright{
				font-size: 9px;
			}

	}
	@media screen and (max-width: 375px){
		height: 700px;
		
		.contacts {
			ul {
				width: 30%;
				font-size: 10px;
				h3{
					font-size: 11px;
				}
			}	
		}
		.bottom-footer {
			font-size: 10px;
			line-height: 15px;
		}
	}
}






