.header {
  margin: 50px 0;

}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
  margin: 0px;
}

.board-container {
  text-align: center;
}

body {
  text-align: center;
}