@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$fontColor: #575757;
$backgroundColor: #9c788e;

* {
    box-sizing: border-box
}

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: $fontColor;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
    border: 1px solid white;
    background-color: white;
    color: $fontColor;
    font-size: 1rem;

    &:hover {
        cursor: pointer;
        box-shadow: 2px 1px 7px $backgroundColor;
    }
}

.board {
    background-color: $backgroundColor;
    width: 60%;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: .5rem;

    .card {
        width: 25%;
        border: white 2px solid;

        img {
            width: 100%;
            height: 100%;
            transition: opacity 0.2s linear;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.alert {
    position: absolute;
    padding-top: 50px;
    z-index: -1;
    background-color: #e8e8e8;
    width: 30%;
    height: 200px;
    left: 35%;
    top: 40%;
    opacity: 0;
    border-radius: .25rem;
    transition: all 0.5s cubic-bezier(0, .89, .75, .88);
}

.visible {
    opacity: 1;
    z-index: 100;
    transform: translateY(-100px);
}

.material-symbols-outlined.close {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
        cursor: pointer;
    }
}