.showMe {
  opacity: 1 !important;
  transform: translate(0, -20px);
  transition: opacity 1s linear, transform 1s linear; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

header {
  position: relative;
  width: 100%;
  height: 150px;
  background: black; }
  header #head-content {
    text-align: center;
    padding-top: 50px; }
    header #head-content .navList {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: inline-block; }
      header #head-content .navList li {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        font-family: "Roboto", sans-serif;
        padding: 0 10px;
        letter-spacing: 2px; }
        header #head-content .navList li a {
          color: white;
          text-decoration: none; }
    header #head-content h1 {
      color: white;
      display: inline-block;
      font-family: "Comfortaa", cursive;
      text-align: center;
      margin: 0 15px; }
  header #ctrlNavs .fas {
    display: none; }
  @media screen and (max-width: 1060px) {
    header #ctrlNav {
      position: absolute;
      top: 25%;
      right: 5%; }
      header #ctrlNav .fas {
        color: white;
        margin: 0;
        font-size: 45px; }
      header #ctrlNav .fa-times {
        display: none; }
    header #head-content {
      text-align: left; }
      header #head-content .navList {
        display: none;
        z-index: 99; }
        header #head-content .navList li {
          display: block;
          font-size: 10px; }
      header #head-content h1 {
        padding-left: 20px; } }
  @media screen and (max-width: 600px) {
    header {
      height: 150px; }
      header #ctrlNav {
        position: absolute;
        top: 5px;
        right: 5px; }
        header #ctrlNav .fas {
          font-size: 25px;
          margin: 0; } }
  @media screen and (max-width: 450px) {
    header {
      height: 175px; } }
  @media screen and (max-width: 375px) {
    header #head-content h1 {
      font-size: 25px;
      padding-left: 10px;
      top: 0; } }

#slideshow {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
  top: 0; }
  #slideshow .slide-txt {
    color: white;
    z-index: 99;
    position: absolute;
    font-family: "Comfortaa", cursive;
    left: 10%;
    top: 30%;
    font-size: 40px; }
    #slideshow .slide-txt p {
      font-size: 30px;
      border-bottom: 1px dotted white;
      display: inline-block; }
      #slideshow .slide-txt p:hover {
        background: white;
        color: black;
        cursor: pointer;
        border-radius: 10px;
        padding: 5px; }
  #slideshow .slide {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s linear; }
    #slideshow .slide img {
      width: 100%;
      height: auto; }
  #slideshow .introSlide {
    visibility: visible;
    opacity: 1; }
  #slideshow .dots {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5%;
    z-index: 99;
    text-align: center; }
    #slideshow .dots .dot {
      display: inline-block;
      margin: 5px;
      width: 30px;
      height: 10px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.5);
      transition: background 1s linear; }
    #slideshow .dots .introDot {
      background: white; }
  @media screen and (max-width: 1060px) {
    #slideshow {
      height: 500px; } }
  @media screen and (max-width: 760px) {
    #slideshow {
      height: 300px; } }
  @media screen and (max-width: 480px) {
    #slideshow {
      height: 200px; }
      #slideshow .slide-txt {
        font-size: 30px; }
        #slideshow .slide-txt p {
          font-size: 20px; }
      #slideshow .dots {
        display: none; } }

#action {
  width: 100%;
  position: relative;
  background: black;
  height: 500px; }
  #action .action-txt {
    position: absolute;
    z-index: 99;
    width: 30%;
    top: 20%;
    right: 10%; }
    #action .action-txt h3 {
      display: inline-block;
      color: white;
      font-family: "Comfortaa", cursive;
      font-size: 30px; }
    #action .action-txt p {
      font-family: "Roboto", sans-serif;
      color: white;
      display: inline-block; }
  #action img {
    position: absolute;
    left: 0;
    height: 500px;
    width: auto; }
  @media screen and (max-width: 1060px) {
    #action img {
      height: 300px;
      width: auto; }
    #action .action-txt h3 {
      font-size: 20px; }
    #action .action-txt p {
      font-size: 15px; } }
  @media screen and (max-width: 750px) {
    #action .action-txt {
      width: 60%;
      top: 30%; } }
  @media screen and (max-width: 375px) {
    #action {
      height: 300px; }
      #action img {
        display: none; }
      #action .action-txt h3 {
        font-size: 15px; }
      #action .action-txt p {
        font-size: 10px; } }

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("https://images.unsplash.com/photo-1463704131914-97e5aaa0e339?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d12adee123a799fa89d53be848b8481&auto=format&fit=crop&w=1950&q=80");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white; }
  .info .sections {
    opacity: 0;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    position: absolute; }
    .info .sections .divider {
      display: inline-block;
      position: relative;
      height: 300px;
      width: 3px;
      background: white;
      margin-top: 20px; }
    .info .sections .info-section {
      display: inline-block;
      position: relative;
      height: 300px;
      width: 25%;
      margin: 0 30px;
      text-align: center; }
      .info .sections .info-section p {
        height: 50%;
        position: absolute;
        margin-top: 25%; }
        .info .sections .info-section p i {
          color: white;
          font-size: 40px;
          margin-bottom: 10%; }
  @media screen and (max-width: 1060px) {
    .info .sections .info-section {
      width: 20%; } }
  @media screen and (max-width: 375px) {
    .info .sections {
      padding-top: 25px;
      opacity: 1;
      visibility: visibile; }
      .info .sections .info-section {
        transform: translate(0, 20px);
        height: 150px;
        width: 80%;
        margin: 0; }
        .info .sections .info-section p {
          margin: 0; }
          .info .sections .info-section p i {
            margin: 5px; }
      .info .sections .divider {
        display: none; } }

footer {
  height: 300px;
  width: 100%;
  background: black;
  position: relative;
  text-align: center; }
  footer ul {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    display: inline-block;
    margin: 0 0;
    padding: 20px 20px;
    list-style-type: none;
    color: white; }
    footer ul li {
      display: block;
      padding: 2px 10px; }
      footer ul li:first-child {
        font-size: 20px;
        text-transform: none;
        font-family: "Comfortaa", cursive; }
  footer p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px; }
  footer input {
    border-radius: 5px;
    height: 35px;
    width: 300px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 12px; }
  footer button {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px; }
    footer button:hover {
      background: black;
      color: white;
      border: 1px solid white;
      cursor: pointer; }
  @media screen and (max-width: 375px) {
    footer {
      height: 400px; }
      footer ul {
        font-size: 15px; }
        footer ul li:first-child {
          font-size: 17px; }
      footer button {
        margin-top: 10px; } }

/*# sourceMappingURL=main.css.map */
