$main-color1: white;
$main-color2: #ffe1de;
$main-font-color: #000;
$primary-font-family: 'Source Sans Pro', sans-serif;

*{

	box-sizing: border-box;
}


%photo-gallery-img {
	width: 400px;
	margin: 50px 10px;
	display: inline-block;
	text-align: center;
	vertical-align: top;

}

%photo-gallery-txt {
	text-transform: uppercase;
	line-height: 2;
	color: rgba(0,0,0,0.5);
	font-family: $primary-font-family;
	font-size: 13px;
	letter-spacing: 3px;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}


header {
	padding: 0 0 5px 0;
	width: 100%;
	font-family: $primary-font-family;
	text-transform: uppercase;
	text-align: center;
	position: fixed;
	z-index: 1;
	background: $main-color1;
	tranistion: background 0.5s linear;
	ul {

		  list-style-type: none;
		  display: inline-block;
   		  li {
		  	font-size: 12px;
		    display: inline;
		    padding: 0 5px;

		}
	}
	div {
		display: inline-block;
		text-align: center;
		h1 {
			margin-left: 25%;
			font-size: 30px;
			transition: font-size 0.5s ease-in;
	}

	}
	.fa-bars {
		display: none;
		position: absolute;
		font-size: 30px;
		top: 40%;
		left: 10%;
	}
	.fa-times {
		display: none;
		position: absolute;
		font-size: 30px;
		top: 10%;
		left: 90%;
	}


	@media screen and (max-width: 768px){
		div {
			h1 { 
			 	margin-left: 13%;
			 	margin-right: 13%;
			}			
		}

		#header-list1, #header-list2 {
			text-align: left;
	   		li {
			  	font-size: 12px;
			    padding: 0 5px;
			    display: block;

			}
		}


		}

	@media screen and (max-width: 375px){
		div {
			h1 { 
			 	font-size: 15px;
			 	margin-left: 13%;
			 	margin-right: 13%;
			}			
		}
		.fa-bars {
			font-size: 20px;
		}
		.fa-times {
			position: absolute;
			font-size: 20px;
			top: 10%;
			left: 90%;
		}
	}
	@media screen and (max-width: 1099px){
		ul {
			li {
				font-size: 8px;
				padding: 0;
			}
		}
	}
}


.slideshow {
	width: 100%;
	height: 1000px;
	position: relative;
	text-align: center;
	#main {
		visibility: visible;
		opacity: 1;
	}
	.slide {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 100%;
		transition: visibility 0s, opacity 1s linear;

		img {
			width: 100%;
			height: 900px;
		}
		.slide-txt {
			font-family: $primary-font-family;
			position: absolute;
			padding: 20px;
			top: 40%;
			width: 100%;
			font-size: 12px;
			color: rgba(255, 255, 255, 0.7);
			border-radius: 5px;
			text-align: center;
			h2 {
				display: inline-block;
				text-transform: uppercase;
				font-size: 40px;
				color: $main-color1;

			}
		}
	}

	.slideDots {
		text-align:center;
		position: absolute;
		z-index: 999;
		top: 92%;
		width: 100%;
  		.dot {
	  		display: inline-block;
	  		height: 5px;
	  		width: 25px;
	  		margin: 0 2px;
	  		background: rgba(255, 255, 255, 0.5);
	  		transition: background-color 0.6s ease;
  		}
  		#main {
  			background: rgba(255, 255, 255, 1);
  		}

	}

	@media screen and (max-width: 375px){
		height: 500px;
		img {
			width: 375px;
			max-height: 500px;
		}
	}


}

.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  z-index: 999;
		  top: 50%;
		  width: auto;
		  margin-top: 50px;
		  padding: 16px;
		  color: white;
		  font-size: 40px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;

 }

 	.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}

	.prev {
		left: 0;
	}


#about {
	color: black;
	font-family: $primary-font-family;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: 25%;
	width: 50%;
	font-size: 15px;
	text-align: center;
	h2 {
		font-size: 40px;
	}

}

 

.photo-gallery {
	position: relative;
	width: 100%;
	text-align: center;
	.photo-gallery-img {
		@extend %photo-gallery-img;
			img {
				width: 400px; 
				height: 400px; 
			}
			.photo-gallery-txt {
				@extend %photo-gallery-txt;
				span {
					color: black;
					font-size: 18px;
				}
			}
	}
	@media screen and (max-width: 375px){
		padding-left: 0;
		margin-left: 0;
		.photo-gallery-img {
			width: 375px;
			img {
				width: 375px;			
				margin-left: 0;
				padding-left: 0;		
			}
	
			margin-left: 0;
			padding-left: 0;
		}
			
		}

}


#gallery2 {
	background-color: $main-color2;
	width: 100%;
	padding-bottom: 50px;
	h3 {
		margin-top: 100px;
		display: inline-block;
		text-transform: uppercase;
		font-family: $primary-font-family;
		font-size: 13px;
		letter-spacing: 3px;
		span {
			font-size: 50px;
			margin-top: 50px;
			display: inline-block;

		}
	}
	button {
		display: block;
		margin: 50px auto;
		width: 150px;
		height: 50px;
		background: black;
		color: $main-color2;
		font-family: $primary-font-family;
		text-transform: uppercase;
		font-size: 15px;
	}
}



.instagram {
		letter-spacing: 3px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		text-transform: uppercase;
		font-family: $primary-font-family;
		font-size: 10px;
		text-align: right;
		margin: 50px;
		color: black;
		.insta-head1 {
			flex-grow: 1;
		}
		.insta-head2 {
			flex-grow: 7;
			text-decoration: underline;
		}
}


.instagram-gallery {
	text-align: right;
	.instagram-pic {
			display: inline-block;
			margin: 25px 25px;
			img {
				height: 200px;
				width: 200px;
			}
	}

}


.email-sign-up {
	letter-spacing: 3px;
	background: black;
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 100px;
	color: white;
	padding: 100px;
	text-align: center;
	font-family: $primary-font-family;
	text-transform: uppercase;
	p {
		input {
			height: 50px;
			width: 250px;
			font-size: 15px;
		}

		button {
			letter-spacing: 3px;
			font-family: $primary-font-family;
			font-size: 18px;
			text-transform: uppercase;
			border:	2px solid white;
			color: white;
			background-color: black;
			height: 50px;
			width: 200px;
			margin: auto 20px;

		}
	}

	@media screen and (max-width: 375px){
		
		padding: 0;

		p {
			input {
				width: 200px;
				font-size: 15px;
				margin: auto 0;
			}
			button {
				margin: 10px 0;
	
			}
		}

	}

}


.contact {
	letter-spacing: 3px;
	text-align: center;
	font-family: $primary-font-family;
	text-transform: uppercase;
	margin-bottom: 100px;

}

hr {
	color: rgba(0,0,0,0.7);
	width: 80%;
	margin-left: 10%;
	margin-bottom: 100px;
}


footer {
		letter-spacing: 3px;
		text-transform: uppercase;
		font-family: $primary-font-family;
		font-size: 15px;
		margin-bottom: 50px;
		width: 100%;
		text-align: center;
		div {
			display: inline-block;
			width: 30%;

		}


}

