body {
  box-sizing: border-box;
  margin: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  letter-spacing: -0.022em;
}

.header {
  padding-left: 15%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #cfcccc;
  height: 40px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
.header nav {
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 11px;
  height: 40px;
  align-items: center;
}
.header .main-nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.header .main-nav .main-nav-exit {
  display: none;
}
.header .main-nav-hamburger {
  display: none;
}
.header .main-nav-hamburger path {
  fill: #f5f5f7;
}
.header .main-nav-hamburger path:hover {
  fill: white;
}

nav span:hover {
  color: #f5f5f7;
  cursor: pointer;
}
nav svg {
  height: 15px;
}
nav svg:hover path {
  stroke: white;
}
nav svg:hover rect {
  stroke: white;
}

.apple-icon path {
  fill: #f5f5f7;
}
.apple-icon path:hover {
  fill: white;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fbfbfd;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero .hero-img {
  width: 1068px;
  height: 694px;
  background-image: url("img/ipad.jpg");
  background-size: 1068px 694px;
  background-repeat: no-repeat;
}
.hero .hero-text {
  left: 750px;
  color: #1d1d1f;
  position: absolute;
  text-align: center;
}
.hero .hero-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.hero .hero-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.hero .hero-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.hero .hero-text a svg {
  height: 20px;
}
.hero .hero-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.banner-container {
  margin-top: 15px;
  padding-top: 50px;
  background-color: #fbfbfd;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.banner-container .iphone-banner {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px;
  background-image: url("img/iphone-banner.jpg");
  background-position: center top;
}
.banner-container .banner-text {
  color: #1d1d1f;
  position: absolute;
  text-align: center;
}
.banner-container .banner-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.banner-container .banner-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.banner-container .banner-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.banner-container .banner-text a svg {
  height: 20px;
}
.banner-container .banner-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.gift-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.gift-container .gift-img {
  width: 3008px;
  height: 624px;
  background-size: 3008px 624px;
  background-image: url("img/appleImg.jpg");
  background-position: center top;
}
.gift-container .gift-text {
  position: absolute;
  text-align: center;
  color: white;
  bottom: 50px;
  width: 450px;
}
.gift-container .gift-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.gift-container .gift-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.gift-container .gift-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.gift-container .gift-text a svg {
  height: 20px;
}
.gift-container .gift-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.gift-container .gift-text a {
  color: #06c;
}

.promos {
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.promos .promo-container {
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.promo1 {
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("img/promo_iphone.jpg");
  margin: 10px 5px 5px 10px;
}

.promo1-text {
  position: absolute;
  text-align: center;
  top: 50px;
  color: white;
}
.promo1-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.promo1-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.promo1-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.promo1-text a svg {
  height: 20px;
}
.promo1-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.promo1-text img {
  height: 35px;
}
.promo1-text h2 {
  font-size: 40px;
}
.promo1-text p {
  font-size: 21px;
}
.promo1-text a {
  font-size: 16px;
}

.promo2 {
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("img/remote.jpg");
  margin: 10px 10px 5px 5px;
}

.promo2-text {
  position: absolute;
  text-align: center;
  top: 50px;
}
.promo2-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.promo2-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.promo2-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.promo2-text a svg {
  height: 20px;
}
.promo2-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.promo2-text img {
  height: 35px;
}
.promo2-text h2 {
  font-size: 40px;
}
.promo2-text p {
  font-size: 21px;
}
.promo2-text a {
  font-size: 16px;
}

.promo3 {
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("img/ipad_promo.jpg");
  margin: 5px 5px 5px 10px;
}

.promo3-text {
  position: absolute;
  text-align: center;
  top: 50px;
  color: white;
}
.promo3-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.promo3-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.promo3-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.promo3-text a svg {
  height: 20px;
}
.promo3-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.promo3-text img {
  height: 35px;
}
.promo3-text h2 {
  font-size: 40px;
}
.promo3-text p {
  font-size: 21px;
}
.promo3-text a {
  font-size: 16px;
}
.promo3-text img {
  padding-left: 5px;
}
.promo3-text p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.promo3-text p span {
  padding-top: 5px;
}

.promo4 {
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("img/watch_promo.jpg");
  margin: 5px 10px 5px 5px;
}

.promo4-text {
  position: absolute;
  text-align: center;
  top: 50px;
}
.promo4-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.promo4-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.promo4-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.promo4-text a svg {
  height: 20px;
}
.promo4-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.promo4-text img {
  height: 35px;
}
.promo4-text h2 {
  font-size: 40px;
}
.promo4-text p {
  font-size: 21px;
}
.promo4-text a {
  font-size: 16px;
}

.promo5 {
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("img/watch_promo2.jpg");
  margin: 5px 5px 10px 10px;
}

.promo5-text {
  position: absolute;
  text-align: center;
  top: 50px;
  color: white;
}
.promo5-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.promo5-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.promo5-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.promo5-text a svg {
  height: 20px;
}
.promo5-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.promo5-text img {
  height: 35px;
}
.promo5-text h2 {
  font-size: 40px;
}
.promo5-text p {
  font-size: 21px;
}
.promo5-text a {
  font-size: 16px;
}
.promo5-text img {
  height: 50px;
  padding-bottom: 10px;
}

.promo6 {
  width: 1262px;
  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fbfbfd;
  margin: 5px 10px 10px 5px;
}

.promo6-text {
  position: absolute;
  text-align: center;
  top: 150px;
}
.promo6-text h2 {
  font-size: 56px;
  margin: 0px;
  font-weight: 500;
}
.promo6-text p {
  font-size: 28px;
  margin: 0px 0px 20px 0px;
  font-weight: 400;
}
.promo6-text a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #06c;
  font-size: 21px;
}
.promo6-text a svg {
  height: 20px;
}
.promo6-text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.promo6-text img {
  height: 225px;
  display: block;
  margin-bottom: 50px;
}
.promo6-text a {
  font-size: 16px;
}

.slideShowContainer {
  overflow-x: hidden;
  width: 100vw;
}

.slideShow {
  height: 525px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  position: relative;
  left: -740px;
  transition: left 0.8s cubic-bezier(0.32, 0.06, 0.85, -0.15);
}
.slideShow .slideItem {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-width: 980px;
  height: 100%;
  margin-right: 10px;
}
.slideShow .slideItem:hover {
  cursor: pointer;
}
.slideShow .slide0 {
  background-image: url("img/slide1.jpg");
  order: 0;
}
.slideShow .slide1 {
  background-image: url("img/slide2.jpg");
  order: 1;
}
.slideShow .slide2 {
  background-image: url("img/slide3.jpg");
  order: 2;
}
.slideShow .slide3 {
  background-image: url("img/slide4.jpg");
  order: 3;
}
.slideShow .slide4 {
  background-image: url("img/slide5.jpg");
  order: 4;
}
.slideShow .slide5 {
  background-image: url("img/slide6.jpg");
  order: 5;
}
.slideShow .slide6 {
  background-image: url("img/slide7.jpg");
  order: 6;
}
.slideShow .slide7 {
  background-image: url("img/slide8.jpg");
  order: 7;
}
.slideShow .slide8 {
  background-image: url("img/slide9.jpg");
  order: 8;
}
.slideShow .slide9 {
  background-image: url("img/slide10.jpg");
  order: 9;
}
.slideShow .slide10 {
  background-image: url("img/slide11.jpg");
  order: 10;
}
.slideShow .slide102 {
  background-image: url("img/slide11.jpg");
  order: -1;
}
.slideShow .slide02 {
  background-image: url("img/slide1.jpg");
  order: 11;
}

.counter {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}
.counter svg:hover {
  cursor: pointer;
}
.counter .counter0 path {
  fill: black;
}

.slideText {
  opacity: 0;
  display: flex;
  min-width: 600px;
  flex-wrap: nowrap;
  color: white;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 15px;
  margin-left: 60px;
  transition: all 2s ease-in;
}
.slideText p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 350;
}
.slideText p span {
  font-weight: 600;
}
.slideText .stream {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
  padding: 12px 22px;
  font-size: 14px;
  border-radius: 980px;
  color: rgb(29, 29, 31);
  background-color: #fff;
  font-family: "SF Pro";
  border: none;
  font-weight: 600;
}
.slideText .stream:hover {
  cursor: pointer;
  opacity: 0.7;
}
.slideText .stream img {
  height: 20px;
}

.show {
  opacity: 1;
  bottom: 35px;
}

.hide {
  opacity: 0.5;
  transition: opacity 2s ease-in;
}

.footerContainer {
  height: 800px;
  width: 100%;
  background-color: #f5f5f7;
  color: rgba(110, 110, 115, 0.8);
  text-align: left;
  font-size: 12px;
  line-height: 1.9;
  font-weight: 400;
}
.footerContainer .footer {
  width: 70%;
  margin-left: 15%;
  padding-top: 10px;
}
.footerContainer .footer .footer-hr {
  margin: 25px auto;
  border-top: 1px solid rgba(110, 110, 115, 0.4);
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rows .columns {
  display: flex;
  flex-direction: column;
}
.rows .columns .columnTitle {
  font-weight: 600;
  color: rgb(50, 50, 45);
  margin: 0;
}
.rows .columns .columnTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}
.rows .columns span {
  display: block;
}
.rows .columns span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bottom-footer {
  margin-top: 30px;
}
.bottom-footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-footer p {
  margin: 0;
}
.bottom-footer hr {
  border-top: 1px solid rgba(110, 110, 115, 0.4);
}
.bottom-footer a {
  color: #06c;
}
.bottom-footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.bottom-footer span {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid rgba(110, 110, 115, 0.3);
}
.bottom-footer span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.bottom-footer span:last-of-type {
  border: none;
}

@media screen and (max-width: 1060px) {
  .hero .hero-img {
    width: 100%;
    height: 900px;
  }
  .hero .hero-text {
    left: auto;
    bottom: 75px;
  }
  .footerContainer {
    height: 100%;
  }
  .rows {
    flex-direction: column;
  }
  .rows .columnTitle {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(110, 110, 115, 0.4);
  }
  .rows .columnItems {
    display: none;
  }
  .rows .showItem {
    display: block;
  }
  .footer-hr {
    margin: 0;
  }
}
@media screen and (max-width: 1236px) {
  .slideShow {
    left: -925px;
  }
  .slideShow .slideItem {
    width: 600px;
    background-size: contain;
  }
}
@media screen and (max-width: 1000px) {
  .slideShow {
    left: 0px;
  }
  .slideShow .slideItem {
    display: none;
    min-width: auto;
    margin-right: 0px;
  }
  .slideShow .slide0 {
    display: block;
    width: 100%;
  }
  .slideShow .slideText .stream {
    width: 100px;
    font-size: 11px;
    padding: 6px;
  }
  .slideShow .slideText p {
    display: none;
  }
  .counter {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .hero .hero-img {
    width: 100%;
    height: 700px;
    background-size: 500px 325px;
  }
  .promos {
    display: flex;
    flex-direction: column;
  }
  .promos .promo-container {
    width: 100%;
  }
  .promos .promo-container h2 {
    font-size: 11px;
  }
  .promos .promo-container p {
    font-size: 11px;
  }
  .promos .promo-container a {
    font-size: 11px;
  }
  .header .main-nav {
    display: none;
    flex-direction: column;
  }
  .header .main-nav-hamburger {
    display: inline;
  }
  .header .main-nav-show {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    margin-top: 0;
    height: 200px;
    width: 600px;
  }
}

/*# sourceMappingURL=styles.css.map */
