$header-font: 'Raleway', sans-serif;





%slideButtons {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	padding: 16px;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}


header {
	position: relative;
	border-bottom: 2px solid gray;
	height: 80px;
	width: 100%;
	h3 {
		float: left;
		margin: 0 0 10px 20px;
		font-family: $header-font;
		font-size: 50px;
		letter-spacing: -2px;
		&::first-letter {
			color: #d63131;
		}
		.second-letter {
			color: #324cc1;
		}
		.third-letter {
			color: #dbcd32;
		}
		.fourth-letter {
			color: #86db32;
		}
		.fifth-letter {
			color: #d67030;
		}
	}

	#search {
		width: 80%;
		#querySite {
			width: 30%;
			boder: 2px solid black;
		}
		display: inline-block;
		float: left;
		margin-left: 5px;
		margin-top: 20px;

	}
	@media screen and (max-width: 375px){
		#search {
			display: none;
		}
	}
}





.slideshow {
	max-width: 1000px;
	height: 500px;
	position: relative;
	margin: auto;
	.slides {
		visibility: "hidden";
		opacity: 0;
		position: absolute;
		transition: visibility 0s, opacity 1s linear;
		img {
			height: 650px;
			width: 1000px;
		}
		.slideNumber {
			position: absolute;
			right: 0;
			background-color: rgba(255,255,255, 0.5);
			margin: 10px;
			padding: 10px;
			border-radius: 15px;
			top: 90%;
		}
		.slide-txt  {
			position: absolute;
			left: 0;
			top: 20%;
			width: 75%;
			background-color: rgba(255,255,255, 0.5);
			margin-left: 25px;
			padding: 20px;
			font-size: 40px;
			border-radius: 5px;

		}
	}
	#slide1 {
		visiblity: "visible";
		opacity: 1;
	}

	.prev, .next {
		  @extend %slideButtons;
		  color: white;
		  width: auto;

	}
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}
	.prev:hover, .next:hover {
	  background-color: rgba(0,0,0,0.8);
	}


	@media screen and(max-width: 768px){
		img {
			max-width: 100%;
		}	
	}


	@media screen and (max-width: 375px){
		.slides {
			img {
				max-width: 100%;
				height: 500px;
			}
		}
	
		.prev {
			left: 0;
		}

	}
}





	@for $i from 1 through 4 {
		.breed#{$i} {
			visibility: visible;
		}
	}







.shopCats {

	position: relative;
	margin: 500px 100px 100px 100px;
	h3 {
		margin-left: 45%;
	}
	.breedSlideshow {

		ul.images {

			margin: 50px 50px 50px 50px;
			padding: 0;
			white-space: nowrap;
			width: auto;
			overflow-x: auto;
			}
			ul.images li {
			display: inline;
			margin: 0 30px 0 20px;
			img {
				width: 175px;
				height: 175px;
				border-radius: 85px;

			}

		}
		.breedPrev, .breedNext {
			  @extend %slideButtons;
			  width: auto;

		}

		.breedNext {
			right: 0;
		}
	}

	@media screen and(max-width: 768px){

		.breedSlideshow {

			ul.images {
				li {
					margin: 0 30px 0 20px;
				img {
					width: 60px;
					height: 60px;
					border-radius: 30px;

					}
				}

			}

		}
		.breedPrev, .breedNext {
			  width: 100%;

		}

		.breedNext {
			right: 0;
		}

	}


	@media screen and(max-width: 375px){
		margin: 100px 10px 100px 10px;
		h3 {
			margin-left: 15%;
			}

		.breedSlideshow {

			ul.images {
				li {
					margin: 0 5px 0 5px;
				img {
					width: 50px;
					height: 50px;
					border-radius: 25px;

					}
				}

			}

		}
	}
}

.breedSlide {
  visibility: hidden;	
}

@for $i from 1 through 5 {
	.breed#{$i} {
		visibility: visible;
	}
}







