/* * {
    outline: 1px solid red;
} */

body {
    font-family: larsseit, sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.headerContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #5a6068;
    font-size: 16px;
    font-weight: 500;
}

.main-nav-hamburger {
    display: none;
    margin: 0;
}

.main-nav-hamburger svg path {
    fill: #0577d6;
}

nav span {
    padding: 15px;
}

nav span img {
    height: 12px;
    padding: 10px 5px;

}

.exit {
    display: none;
}

nav span:hover {
    cursor: pointer;
}

#dropdown {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#solutions {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    padding: 0 10px;
}

.hide {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 85px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);

}

header {
    width: 100%;
    padding: 25px 0;
    margin-top: 0;
    margin-bottom: 15px;
    position: fixed;
    z-index: 20;
    background-color: white;
    top: 0;
}

.headerScroll {
    box-shadow: 0 0 12px rgb(0 0 0 / 25%);
    padding: 15px 0;
}

#freeButton {
    padding: 10px 5px;
    background-color: #0577d6;
    color: white;
    border-radius: 100px;
    width: 120px;
    border: 1px solid white;
}

#freeButton:hover {
    background-color: #0265b8;
    border: 1px solid #5eb6ff;
    cursor: pointer;
}

#signButton {
    border: none;
    background-color: white;
    color: #5a6068;
    font-size: 16px;
    font-weight: 500;
}

#signButton:hover {
    cursor: pointer;
    color: #44494f;
}

#container {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

#hero {
    background-color: #0577d6;
    color: white;
    margin: 10px 75px;
    padding: 50px 100px;
    width: 50%;
    height: 560px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    font-size: 18px;
}

#hero h1 {
    width: 60%;
    font-size: 48px;
}

#hero p {
    width: 60%;
}

#hero button {
    padding: 1em 1.5em;
    background-color: #0577d6;
    color: #f5faff;
    font-weight: bold;
    border: 2px #57b3ff solid;
    border-radius: 100px;
    width: 175px;
    margin: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#hero button:hover {
    background-color: white;
    color: #0577d6;
    cursor: pointer;
    border-color: white;
}


.buttonImg {
    height: 20px;
}

svg * {
    stroke: #f5faff;
    fill: #f5faff;
}


.cap * {
    fill: none;
}

#heroImg {
    width: 720px;
    height: 488px;
    position: absolute;
    display: block;
    top: 50px;
    right: 0px;
    margin: 50px;
    border-radius: 5px;
    background-image: url("img/overlay.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 15px rgb(90 96 104 / 25%);
}

#heroImg img {
    width: 75px;
    position: absolute;
    top: 206.5px;
    left: 322.5px;
}

.flex-container {
    width: 80%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    margin: 80px 10%;
    justify-content: space-around;
    align-items: center;
}

.flex-item {

    padding: 1em 3em;
    color: #72777d;
    font-size: 14px;
    width: 300px;
}

.flex-item img {
    height: 33px;
    padding-bottom: 1em;
}


.flex-2-item {
    width: 40%;
    color: #72777d;
}

.flex-2-item img {
    max-width: 500px;
}

.flex-2-item h1 {
    color: black;
}

.course-title {
    color: #df910c
}

.flex-2-item button {
    padding: 1em 1.5em;
    background-color: #0577d6;
    color: white;
    font-weight: bold;
    border: 1px white solid;
    border-radius: 1.5em;
    width: 15em;
    margin: 1em;
}

.flex-2-item a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;

}

.orgs {
    background-color: #f9fafb;
    padding-bottom: 60px;
}

a {
    color: #0577d6;
    text-decoration: none;
    font-size: 16px;
    margin-right: 30px;
    vertical-align: center;
    position: relative;
}

.material-symbols-outlined {
    font-size: 16px;
    top: 2px;
    position: absolute;
}

a:hover {
    color: #025da8;
}

.material-symbols-outlined:hover {
    transform: translateX(5px);
}

.phone-container {
    position: relative;
    height: 300px;
    background-color: #0577d6;
    color: white;
}

.phone-container img {
    height: 500px;
    position: absolute;
    top: -80px;
    left: 9%;
}

.phone-text {
    width: 40%;
    position: absolute;
    right: 10px;
    top: 15px;
}

.phone-wid {
    background-color: black;
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 1.5em;
    width: 175px;
    height: 50px;
    margin: 1em;
    display: inline-block;
    position: static;
}

.phone-text img {
    display: inline;
    height: 40px;
    position: static;

}

.phone-text span {
    display: inline-block;
    font-size: 14px;
}

.phone-text span .enh {
    font-size: 20px;
}

.phone-wid:hover {
    border: 1px solid white;
    cursor: pointer;
}

.phone-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.stars {
    margin-left: 15px;
}

.stars img {
    height: 12px;
}

.master-div {
    margin-top: 180px;
    text-align: center;
}

.master-div h1 {
    width: 50%;
    padding-left: 25%;
    font-size: 35px;
}

.vid-flex {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 80px 15%;
    justify-content: space-between;
}

.vid-flex video {
    width: 40%
}

.vid-flex div {
    width: 40%;
    color: #72777d;
}

.stats-flex {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 180px auto;
    justify-content: center;
    flex-wrap: wrap;
}

.stats-flex img {
    height: 200px;
}

.stats-item {
    text-align: center;
    padding: 0 25px;
    border-right: 1px solid #72777d;
    color: #72777d;
    width: 200px;
}

.stats-item h2 {
    font-size: 42px;
}

.stats-item:last-of-type {
    border: none;
}

.reference {
    height: 500px;
    background-color: rgb(249, 250, 251);
    padding: 80px;

}

.slideshow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center
}

.reference h1 {
    width: 50%;
    padding-left: 25%;
    font-size: 35px;
    text-align: center;
}

.slide {
    max-width: 350px;
    display: none;
    align-items: flex-end;
    color: #72777d;
}


.quote {
    background-color: white;
    padding: 20px;
    margin: 50px 50px 25px 50px;
    border-radius: 5px;
    box-shadow: rgb(110 118 129 / 15%) 0px 6px 12px;
    position: relative;
}


.notch {
    position: absolute;
    background-color: white;
    height: 15px;
    width: 15px;
    bottom: -7.5px;
    left: 20px;
    transform: rotate(45deg);
    /* box-shadow: rgb(110 118 129 / 15%) 0px 6px 12px; */
}

#slide1 {
    display: inline-block;
    order: 2;
}

#slide2 {
    display: inline-block;
    order: 3;
}

#slide3 {
    display: inline-block;
    order: 4;
}

.toggle {
    position: relative;
    display: inline-block;
    height: 50px;
    margin-top: 125px;
}

#toggle-back {
    order: 1;
}

#toggle-forward {
    order: 5;
}

.person img {
    height: 50px;
    border-radius: 25px;
}

.person {
    margin-left: 50px;
    position: relative;
}

.person p {
    display: inline-block;
    width: 70%;
    margin: 5px 15px;
    position: absolute;

}

.person span {
    font-weight: bold;
    color: black;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.action button {
    background-color: #0577d6;
    color: white;
    width: 250px;
    height: 75px;
    padding: 10px 25px;
    border-radius: 50px;
    border: 0px;
    font-size: 18px;
    opacity: 1;
    transition: opacity .15s linear;
}

.action div {
    max-width: 500px;
    color: #4a4e55;
    font-weight: 600;
}

.action div span {
    font-weight: 400;
}

.action button:hover {
    opacity: 0.7;
    background-color: #035fab;
    border: 2px solid #286cf6;
    cursor: pointer;
}

.logo-container {
    height: 32px;
}

.logo-container svg {
    height: 100%;
    width: auto;
    display: inline-block;
    fill: rgb(255, 255, 255);
}

.footer {
    height: auto;
    color: #f1f3f5;
    background-color: #202327;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px;
    justify-content: space-between;
}

.footer h3 {
    color: #5a6068;
    font-size: 15px;
    letter-spacing: .05em;
    text-transform: uppercase;

}

.footer div {
    padding-left: 50px;
    padding-right: 25px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    padding-top: 15px;
}

.footer li:hover {
    color: #0577d6;
    cursor: pointer;
}

.material-symbols-outlined {
    color: white;
}

.contact {
    color: #5a6068;
    text-align: right;
    width: 250px;
    border-left: 1px solid grey;
}

.contact img {
    height: 25px;
}

.contact p img {
    height: 15px;
    margin-right: 5px;
}

.contact p {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 1360px) {
    #heroImg {
        display: none;
    }

    #hero {
        width: auto;
        text-align: center;
    }

    #hero h1 {
        width: 100%
    }

    #hero p {
        width: 100%
    }

    .contact {
        width: 100%;
        border-left: none;
        text-align: start;
        border-top: 1px solid grey;
        padding-top: 5px;
    }

    .contact br {
        display: none;
    }

    .contact p {
        display: inline-flex;
        padding-left: 10px;
    }
}

@media screen and (max-width: 1060px) {
    .flex-container {
        flex-wrap: wrap;
    }

    .orgs .flex-container {
        flex-direction: column;

    }

    .orgs .flex-2-item img {
        width: 100%;
    }



    .stats-item {
        border: none;
    }
}

@media screen and (max-width: 1300px) {
    .phone-flex {
        justify-content: center;
    }

    .stars {
        margin: auto;
    }

    .phone-img {
        display: none;
    }

    .phone-text {
        width: 100%;
        text-align: center;
        right: auto;
    }

    .reference {
        height: auto;
    }
}

@media screen and (max-width: 770px) {
    header {
        padding: 15px 0;
    }

    .headerContainer {
        align-items: flex-start;
    }

    #solutions {
        padding: 0;
    }

    nav {
        display: none;
    }

    nav span {
        display: block;
    }

    .main-nav-hamburger {
        display: inline;
    }

    .exit {
        display: block;
    }

    #hero h1 {
        font-size: 30px;
    }

    #hero p {
        font-size: 14px;
    }

    .slideshow {
        flex-direction: column;
        align-items: center;
    }

    .toggle {
        transform: rotate(90deg);
    }

    .action button {
        padding: 10px;
        border-radius: 25px;
        font-size: 12px;
        height: 50px;
        margin-top: 10px;
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .phone-container {
        height: 500px;
    }

    #hero {
        margin: 0;
        padding: 50px;
    }

    #hero button {
        padding: 0.5em;
        font-size: 10px;
        width: 100px;
    }

    .reference {
        padding: 30px;
    }

    .reference h1 {
        font-size: 20px;
    }

    .action {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
}